body{
    margin:0;
    padding:0;
    background: url("../images/bg.jpg") center center fixed no-repeat;
    background-size: cover;
    }
html, body{
    height: 100vh;
    }
    //scroll
    section::-webkit-scrollbar-track, 
     div::-webkit-scrollbar-track, 
     main::-webkit-scrollbar-track, 
     body::-webkit-scrollbar-track { 
      background-color: rgba(0, 0, 0, 0.2); 
      } 
     section::-webkit-scrollbar, 
     div::-webkit-scrollbar, 
     main::-webkit-scrollbar, 
     body::-webkit-scrollbar { 
     width: 4px; 
     background-color: rgba(0, 0, 0, 0.2); 
     } 
     section::-webkit-scrollbar-thumb, 
     div::-webkit-scrollbar-thumb, 
     main::-webkit-scrollbar-thumb, 
     body::-webkit-scrollbar-thumb { 
     border-radius: 8px; 
     background-color: rgba(0, 0, 0, 0.8); 
     }

     .app-wrap.main{
         height: 100vh;
        .app-container{
             position: relative;
             margin: 0 auto;
             width: 80%;
             max-width: 2000px;
             height: 100%;
        }
         .menu-trigger-btn{
            position: absolute;
            left: 0; top: 0;
            z-index: 5;
            display: none;
            .fa-bars{
                color:#fff;
                padding: 10px 10px;
            }
         }
         .sidebar{
            position: absolute;
            left: 0; top: 0; 
            width: 200px;
            height: 100%;
            background-color:rgba(255, 255, 255, 0.404);
            z-index: 1;
            .close-btn{
                position: absolute;
                right: 0;
                top: 0;
                z-index: 6;
                display: none;
                .fa-times{
                    color:rgb(11, 56, 41);
                    padding: 20px 50px;
                    box-sizing: border-box;
                }
            }
            .header{
                width: 100%;
                background-color: rgba(255, 255, 255, 0.842);
                height: 200px;
                .logo img{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    top:0;
                    padding: 35px 0;
                    text-align: center;
                }
            }
            .nav{
                .items{
                    .item{
                        border-top: 1px solid rgba(255, 255, 255, 0.767);
                        a{
                            display: block;
                            text-align: center;
                            padding: 15px 10px;
                            box-sizing: border-box;
                            text-decoration: none;
                            color: #fff;
                            font-size: 18px;
                            &:hover{
                                background: rgba(255, 255, 255, 0.534);
                                color: rgba(10, 49, 65, 0.753);
                            }
                        }
                    }
                }
            }
         }

         .app-content{
            position: relative;
            padding-left: 210px;
            height: 100%;
            .main-wrap{
                position: relative;
                padding-top: 60px; 
                height: 100%;
                overflow: auto;
                box-sizing: border-box;
                .top-bar{
                    position: absolute;
                    width: 100%;
                    top: 0;
                    height: 50px;
                    background: rgba(255, 255, 255, 0.404);
                    .path{
                        width: 100%;
                        font-size:0;
                        display: flex;
                        justify-content:flex-end;
                        li{
                            margin: 0 10px;
                        }
                        a{
                            text-decoration: none;
                            color:rgb(15, 124, 60);
                            font-size:15px;
                            line-height: 52px;
                            padding: 8px 10px;
                            background-color: #ffffffb9;
                            border: 1px solid rgb(118, 125, 168) ;
                            border-radius: .3rem;
                            &:hover{
                                background-color: #0a331e;
                                color: #fff;
                            }
                        }
                    }
                }
            }
         }

         .content-wrap{
            height: 100%;
            overflow: auto;
            .main-content{
             height: 100%;
            .banner{
                position: relative;
                width: 100%;
                height: 300px;
                background-image: url("../images/banner.png");
                &::after{
                    position: absolute;
                    content: "";
                    display: block;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 300px;
                    background-color: rgba(0, 0, 0, 0.39);
                } 
            }  

            .marquee{
                color: #fff;
                padding: 10px 0;
                box-sizing: border-box;
                a{
                color: #fff;
                text-decoration: none;
                padding: 0 10px;
                box-sizing: border-box;
                }
            }

            .app-pop-up{
                display: none;
                .pop-up{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                width: 80%;
                height: 300px;
                background-color: rgba(255, 255, 255, 0.925);
                z-index: 7;
                .text{
                    text-align: center;
                    font-size: 30px;
                    padding: 30px;
                    box-sizing: border-box;
                    background-image: url("../images/bg.jpg");
                    color: #fff;
                }
                .pop-close{
                    position: absolute;
                    right:40px;
                    top:30px;
                    color: #fff;
                }
                }
                .pop-before{
                    position: fixed;
                    top: 0;left: 0;
                    background-color:transparent;
                    width: 100%;
                    height: 100vh;
                }
                &.show {
                    display: block;
                }
            }
       
            

            .action-btns{
                    text-align: center;
                    .btn{
                        display: inline-block;
                        padding: 15px 20px;
                        box-sizing: border-box;
                        margin: 10px 0;
                        background-color: #2b468198;
                        border-color: #2a155a;  
                        color:#fff; 
                        font-size:20px;
                        border-radius: .3rem;
                        .far{
                            padding-right: 10px;
                            box-sizing: border-box;
                        }
                        &:hover{
                            background-color: #2b4681;
                        }
                    }
            }
            
            }

            .content{
                min-height: 100vh;;
            }
         }

         .app-footer{
            color:rgba(255, 255, 255, 0.637);
            position: relative;
            text-align: right;
            right: 5px;
            font-size: 15px;
            padding: 15px 10px;
            box-sizing: border-box;
         }
     }